workflows/workflow_2_4_video_repurposing.json
{
  "name": "2.4 — Video Repurposing (Loretta Sercy)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": ["loretta", "video", "content"],
  "nodes": [
    {
      "id": "11111111-0000-0000-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 280],
      "parameters": {}
    },
    {
      "id": "11111111-0000-0000-0000-000000000002",
      "name": "Webhook: New Video",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 480],
      "webhookId": "video-repurpose-trigger",
      "parameters": {
        "httpMethod": "POST",
        "path": "video-repurpose",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000003",
      "name": "Set: Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [280, 380],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "norm-video-url",
              "name": "video_url",
              "value": "={{ $json.video_url ?? $json.body?.video_url ?? '' }}",
              "type": "string"
            },
            {
              "id": "norm-video-title",
              "name": "video_title",
              "value": "={{ $json.video_title ?? $json.body?.video_title ?? 'Untitled Video — ' + $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "norm-platforms",
              "name": "platforms",
              "value": "={{ $json.platforms ?? $json.body?.platforms ?? 'instagram,tiktok,facebook' }}",
              "type": "string"
            },
            {
              "id": "norm-submitted-at",
              "name": "submitted_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000004",
      "name": "HTTP: Submit to Opus Clip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 380],
      "parameters": {
        "method": "POST",
        "url": "https://api.opus.pro/v1/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPUS_CLIP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ video_url: $json.video_url, language: 'en', resolution: '1080p', num_clips: 5 }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000005",
      "name": "Set: Store Job Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [820, 380],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx-project-id",
              "name": "opus_project_id",
              "value": "={{ $json.project_id ?? $json.id }}",
              "type": "string"
            },
            {
              "id": "ctx-video-title",
              "name": "video_title",
              "value": "={{ $('Set: Normalize Input').item.json.video_title }}",
              "type": "string"
            },
            {
              "id": "ctx-platforms",
              "name": "platforms",
              "value": "={{ $('Set: Normalize Input').item.json.platforms }}",
              "type": "string"
            },
            {
              "id": "ctx-submitted-at",
              "name": "submitted_at",
              "value": "={{ $('Set: Normalize Input').item.json.submitted_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000006",
      "name": "Wait: Processing Time",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1080, 380],
      "parameters": {
        "unit": "minutes",
        "amount": 5
      },
      "webhookId": "wait-opus-processing"
    },
    {
      "id": "11111111-0000-0000-0000-000000000007",
      "name": "HTTP: Get Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 380],
      "parameters": {
        "method": "GET",
        "url": "=https://api.opus.pro/v1/projects/{{ $json.opus_project_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPUS_CLIP_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000008",
      "name": "IF: Clips Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 380],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000009",
      "name": "Set: Prep Clips Array",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1860, 240],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clips-arr",
              "name": "clips",
              "value": "={{ $json.clips ?? [] }}",
              "type": "array"
            },
            {
              "id": "clips-count",
              "name": "clip_count",
              "value": "={{ ($json.clips ?? []).length }}",
              "type": "number"
            },
            {
              "id": "clips-title",
              "name": "video_title",
              "value": "={{ $('Set: Store Job Context').item.json.video_title }}",
              "type": "string"
            },
            {
              "id": "clips-platforms",
              "name": "platforms",
              "value": "={{ $('Set: Store Job Context').item.json.platforms }}",
              "type": "string"
            },
            {
              "id": "clips-submitted-at",
              "name": "submitted_at",
              "value": "={{ $('Set: Store Job Context').item.json.submitted_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000010",
      "name": "Split In Batches: Clips",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2120, 240],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000011",
      "name": "Set: Clip Item",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2380, 140],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clip-url",
              "name": "clip_url",
              "value": "={{ $json.clips[$('Split In Batches: Clips').context.currentRunIndex]?.url ?? $json.url ?? '' }}",
              "type": "string"
            },
            {
              "id": "clip-caption",
              "name": "caption",
              "value": "={{ $json.clips[$('Split In Batches: Clips').context.currentRunIndex]?.title ?? $json.title ?? $('Set: Prep Clips Array').item.json.video_title }}",
              "type": "string"
            },
            {
              "id": "clip-parent-title",
              "name": "video_title",
              "value": "={{ $('Set: Prep Clips Array').item.json.video_title }}",
              "type": "string"
            },
            {
              "id": "clip-platforms",
              "name": "platforms",
              "value": "={{ $('Set: Prep Clips Array').item.json.platforms }}",
              "type": "string"
            },
            {
              "id": "clip-index",
              "name": "clip_index",
              "value": "={{ $('Split In Batches: Clips').context.currentRunIndex + 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000012",
      "name": "HTTP: Schedule in Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 140],
      "parameters": {
        "method": "POST",
        "url": "https://api.bufferapp.com/1/updates/create.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.BUFFER_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.caption + ' #realestate #lorettasercy #realtor' }}"
            },
            {
              "name": "profile_ids[]",
              "value": "={{ $env.BUFFER_PROFILE_IDS }}"
            },
            {
              "name": "media[video]",
              "value": "={{ $json.clip_url }}"
            },
            {
              "name": "shorten",
              "value": "false"
            },
            {
              "name": "now",
              "value": "false"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000013",
      "name": "Google Sheets: Log Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2380, 480],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1D7krpNO3CmuZBWfy_bN3c26FUvnv2y3JJ2gQGwRgyXM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Video Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Video Title": "={{ $('Set: Prep Clips Array').item.json.video_title }}",
            "Clips Generated": "={{ $('Set: Prep Clips Array').item.json.clip_count }}",
            "Platforms": "={{ $('Set: Prep Clips Array').item.json.platforms }}",
            "Status": "Scheduled",
            "Buffer Response": "={{ $('HTTP: Schedule in Buffer').item.json.success ?? 'ok' }}",
            "Submitted At": "={{ $('Set: Prep Clips Array').item.json.submitted_at }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_SHEETS",
          "name": "Google Sheets — Loretta"
        }
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000014",
      "name": "Set: Job Not Ready",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1860, 560],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "err-status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "err-message",
              "name": "error_message",
              "value": "=Opus Clip job not complete after 5 min wait. Status: {{ $json.status }}. Project ID: {{ $('Set: Store Job Context').item.json.opus_project_id }}",
              "type": "string"
            },
            {
              "id": "err-title",
              "name": "video_title",
              "value": "={{ $('Set: Store Job Context').item.json.video_title }}",
              "type": "string"
            },
            {
              "id": "err-platforms",
              "name": "platforms",
              "value": "={{ $('Set: Store Job Context').item.json.platforms }}",
              "type": "string"
            },
            {
              "id": "err-submitted-at",
              "name": "submitted_at",
              "value": "={{ $('Set: Store Job Context').item.json.submitted_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "11111111-0000-0000-0000-000000000015",
      "name": "Google Sheets: Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2120, 560],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1D7krpNO3CmuZBWfy_bN3c26FUvnv2y3JJ2gQGwRgyXM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Video Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Video Title": "={{ $json.video_title }}",
            "Clips Generated": "0",
            "Platforms": "={{ $json.platforms }}",
            "Status": "Failed",
            "Buffer Response": "={{ $json.error_message }}",
            "Submitted At": "={{ $json.submitted_at }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_SHEETS",
          "name": "Google Sheets — Loretta"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set: Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: New Video": {
      "main": [
        [
          {
            "node": "Set: Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Normalize Input": {
      "main": [
        [
          {
            "node": "HTTP: Submit to Opus Clip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Submit to Opus Clip": {
      "main": [
        [
          {
            "node": "Set: Store Job Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Store Job Context": {
      "main": [
        [
          {
            "node": "Wait: Processing Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait: Processing Time": {
      "main": [
        [
          {
            "node": "HTTP: Get Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Job Status": {
      "main": [
        [
          {
            "node": "IF: Clips Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Clips Ready": {
      "main": [
        [
          {
            "node": "Set: Prep Clips Array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: Job Not Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Prep Clips Array": {
      "main": [
        [
          {
            "node": "Split In Batches: Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches: Clips": {
      "main": [
        [
          {
            "node": "Set: Clip Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets: Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Clip Item": {
      "main": [
        [
          {
            "node": "HTTP: Schedule in Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Schedule in Buffer": {
      "main": [
        [
          {
            "node": "Split In Batches: Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Job Not Ready": {
      "main": [
        [
          {
            "node": "Google Sheets: Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
